.card {
  background-color: rgb(112, 251, 205);
}


input {
  margin: 5px 0;
  padding: 6px;
  width: 200px;
}

button {
  margin: 5px;
  padding: 6px 10px;
  background-color: #0078d4;
  color: white;
  border: none;
}
